body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    margin: 0
}

code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace
}

.navbar-border-radius {
    border-radius: 15px
}

.navbar-border-radius-2 {
    border-radius: 55px!important;
    padding: 0
}

.bg-orange {
    background-color: #fab417
}

.height-navbar-button {
    height: 4rem
}

.radius-navbar {
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important
}

.radius-navbar,.radius-navbar-remove {
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important
}

.radius-navbar-remove {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important
}

.no-dec {
    text-decoration: none!important
}

.no-dec:hover {
    color: #fab417;
    margin: 0
}

.width-navbar-drop {
    width: 13rem!important
}

.dpdn-class {
    border-radius: 20px!important;
    position: relative!important
}

.border-list {
    border-top-left-radius: 15px!important;
    border-top-right-radius: 15px!important
}

.border-list-2 {
    border-bottom-left-radius: 15px!important;
    border-bottom-right-radius: 15px!important
}

@media (max-width: 768px) {
    .width-navbar-drop {
        width:90vw!important
    }
}

@media (max-width: 576px) {
    .width-navbar-drop {
        width:85vw!important
    }
}

.height-login {
    height: 100vh
}

.flex-div {
    align-items: center;
    display: flex;
    justify-content: center
}

.raduis-login {
    border: none;
    border-radius: 25px
}

.button-radius {
    border-radius: 25px
}

.fs-no {
    font-size: 15px
}

.fs-this {
    font-size: 12px
}

.color-red {
    color: #b00909
}

.hover-effect-nav:hover {
    background-color: #fab417;
    color: #fff!important
}

.accounts-radius {
    border-radius: 20px
}

.margin-account {
    margin: 0 7.5rem
}

.font-smaller {
    font-size: smaller
}

.margin-cols {
    margin-top: 4.5rem
}

.btn-radius {
    border-radius: 10px
}

.B-radius {
    border-radius: 15px
}

.width-card {
    width: 5rem!important
}

.pos-rel {
    position: relative!important;
    top: 10px
}

.border-dash-nav {
    border-bottom: .1px solid rgba(0,0,0,.182)!important
}

.navbar-toggler-icon {
    color: #000!important
}

.hover-search:hover {
    cursor: pointer!important
}

.td-border {
    border: 2px solid #fff;
    border-radius: 10px!important
}

.cross-size {
    font-size: larger!important
}

.focus-none-button:focus {
    border: none;
    box-shadow: none!important;
    outline: none!important
}

.focus-none-button:hover {
    background-color: #8a2be2!important
}

.the-button:focus {
    box-shadow: none;
    outline: none
}

.bg-gray {
    background-color: gray
}

.width-entry {
    width: 75px
}

.cursor span {
    cursor: pointer
}

.fs-small {
    font-size: 12px;
    margin: 0!important
}

.orange-trade {
    color: #fab417!important
}

.border-right-none {
    border-right: none!important
}

.border-left-none {
    border-left: none!important
}

.Dropdown-arrow,.arrow-select {
    color: #fab417!important
}

.arrow-select {
    background-color: beige!important;
    font-size: large!important
}

.bg-select span {
    color: aqua!important
}

.arrow-class {
    height: 40px!important
}

.myClass option {
    background-color: #fff!important;
    color: #fab417!important
}

.container,.container-fluid {
    font-size: .875rem!important
}

.bg-brown {
    background-color: brown
}

.hover-effect:hover {
    cursor: pointer
}

.height-button {
    border-radius: 15px;
    height: 4rem
}

.color-white {
    color: #fff!important
}

.focus-none:focus {
    box-shadow: none;
    outline: none
}

.color-black {
    color: #000
}

.bg-none {
    background-color: none
}

.border-none {
    border: none
}

.input-border {
    border-radius: 7px!important
}

.color-orange {
    color: #fab417
}

.button-effect:hover {
    background-color: #962929
}

.input-group-text {
    font-size: .875rem!important
}

.color-brown {
    color: brown
}

.color-blue {
    color: blue
}

.dec-none {
    text-decoration: none!important
}

/*# sourceMappingURL=main.ab608774.css.map*/
