{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        <div class="react-reveal container" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-983967316680488-1;">
                            <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">Edit/Delete Log</div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                <div class="form-check"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault" id="flexRadioDefault1"><label class="form-check-label" for="flexRadioDefault1">UPDATE</label></div>
                                <div class="form-check"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault" id="flexRadioDefault1"><label class="form-check-label" for="flexRadioDefault1">DELETE</label></div>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                <p class="m-2">From End</p>
                                <input type="date" class="bg-orange color-white w-100 height-button border-none px-3 fs-5 cursor">
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                <p class="m-2">From End</p>
                                <input type="date" class="bg-orange color-white w-100 height-button border-none px-3 fs-5 cursor">
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 text-center mt-5">
                                <div class="dropdown bg-transparent">
                                    <a class="btn focus-none" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="/">
                                        <button type="button" class="position-relative border-none bg-transparent">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-2x p-0 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" color="grey">
                                            <path fill="currentColor" d="M256 32V51.2C329 66.03 384 130.6 384 208V226.8C384 273.9 401.3 319.2 432.5 354.4L439.9 362.7C448.3 372.2 450.4 385.6 445.2 397.1C440 408.6 428.6 416 416 416H32C19.4 416 7.971 408.6 2.809 397.1C-2.353 385.6-.2883 372.2 8.084 362.7L15.5 354.4C46.74 319.2 64 273.9 64 226.8V208C64 130.6 118.1 66.03 192 51.2V32C192 14.33 206.3 0 224 0C241.7 0 256 14.33 256 32H256zM224 512C207 512 190.7 505.3 178.7 493.3C166.7 481.3 160 464.1 160 448H288C288 464.1 281.3 481.3 269.3 493.3C257.3 505.3 240.1 512 224 512z"></path>
                                        </svg>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">3<span class="visually-hidden">unread messages</span></span>
                                        </button>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="/">Action</a></li>
                                        <li><a class="dropdown-item" href="/">Another action</a></li>
                                        <li><a class="dropdown-item" href="/">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 mt-5 ">
                                <div class="d-flex justify-content-strat">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-user" class="svg-inline--fa fa-circle-user fa-2x mt-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"></path>
                                    </svg>
                                    <div class="dropdown ms-1 bg-transparent">
                                        <a class="btn fw-bold focus-none" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="/">
                                            {{current_user.username}}
                                        <span class="ps-2">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fw-bold" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                <path fill="currentColor" d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"></path>
                                            </svg>
                                        </span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="/">Action</a></li>
                                        <li><a class="dropdown-item" href="/">Another action</a></li>
                                        <li><a class="dropdown-item" href="/">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="react-reveal container my-5" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-983967316680488-1;">
                            <div class="row">
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 my-2">
                                <select class="form-select bg-orange color-white height-button focus-none myClass" aria-label="Default select example">
                                    <option class="bg-light text-dark ps-3" value="1">Segment</option>
                                    <option class="bg-light text-dark ps-3" value="2">One</option>
                                    <option class="bg-light text-dark ps-3" value="3">Two</option>
                                    <option class="bg-light text-dark ps-3" value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 my-2">
                                <select class="form-select bg-orange color-white height-button focus-none myClass" aria-label="Default select example">
                                    <option class="bg-light text-dark ps-3" value="1">Script Name</option>
                                    <option class="bg-light text-dark ps-3" value="2">One</option>
                                    <option class="bg-light text-dark ps-3" value="3">Two</option>
                                    <option class="bg-light text-dark ps-3" value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 my-2">
                                <select class="form-select bg-orange color-white height-button focus-none myClass" aria-label="Default select example">
                                    <option class="bg-light text-dark ps-3" value="1">Master</option>
                                    <option class="bg-light text-dark ps-3" value="2">One</option>
                                    <option class="bg-light text-dark ps-3" value="3">Two</option>
                                    <option class="bg-light text-dark ps-3" value="3">Three</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 my-2">
                                <select class="form-select bg-orange color-white height-button focus-none myClass" aria-label="Default select example">
                                    <option class="bg-light text-dark ps-3" value="1">Select Customer</option>
                                    <option class="bg-light text-dark ps-3" value="2">One</option>
                                    <option class="bg-light text-dark ps-3" value="3">Two</option>
                                    <option class="bg-light text-dark ps-3" value="3">Three</option>
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="react-reveal container my-5" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-983967316680488-1;">
                            <div class="row">
                            <div class="col-0 col-sm-0 col-md-4 col-lg-6 col-xl-6"></div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 text-center my-1"><button type="button" class="btn btn-lg btn-primary focus-none">Find Logs</button></div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 text-center my-1"><button type="button" class="btn btn-lg btn-info focus-none">Reset</button></div>
                            </div>
                        </div>
                        <div class="react-reveal container my-5" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-983967316680488-1;">
                            <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center my-1"></div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-center my-1">
                                <div class="input-group shadow-sm ">
                                    <span class="input-group-text focus-none bg-transparent border-right-none" id="basic-addon1">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" class="svg-inline--fa fa-magnifying-glass hover-search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" color="#fab417">
                                        <path fill="currentColor" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
                                        </svg>
                                    </span>
                                    <input type="text" class="form-control focus-none border-left-none" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="react-reveal" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-983967316680488-1;">
                            SHOW
                            <span>
                            <select class="form-select bg-orange color-white focus-none width-entry d-inline mx-2" aria-label="Default select example">
                                <option class="bg-light text-dark ps-3" value="10">10</option>
                                <option class="bg-light text-dark ps-3" value="20">20</option>
                                <option class="bg-light text-dark ps-3" value="30">30</option>
                                <option class="bg-light text-dark ps-3" value="40">40</option>
                            </select>
                            </span>
                            ENTRIES
                        </div>
                        <div class="react-reveal" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-983967316680488-1;">
                            <div class="table-responsive ">
                            <table class="table my-5 table-borderless">
                                <thead>
                                    <tr class="table-border-none">
                                        <th scope="col" class="bg-light ">NSEFUT SYM</th>
                                        <th scope="col" class="bg-light ">BIO RATE</th>
                                        <th scope="col" class="bg-light ">ASK RATE</th>
                                        <th scope="col" class="bg-light ">LTP</th>
                                        <th scope="col" class="bg-light ">CHANGE%</th>
                                        <th scope="col" class="bg-light ">NET CHANGE</th>
                                        <th scope="col" class="bg-light ">HIGH</th>
                                        <th scope="col" class="bg-light ">LOW</th>
                                        <th scope="col" class="bg-light ">OPEN</th>
                                        <th scope="col" class="bg-light ">CLOSE</th>
                                        <th scope="col" class="bg-light ">REMOVE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec c color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec c color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec c color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" class="svg-inline--fa fa-caret-up " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="green">
                                                <path fill="currentColor" d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"></path>
                                            </svg>
                                            148.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-danger"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" class="svg-inline--fa fa-caret-up " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="green">
                                                <path fill="currentColor" d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"></path>
                                            </svg>
                                            148.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-danger"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"></path>
                                            </svg>
                                            1 48.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-danger"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" class="svg-inline--fa fa-caret-up " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="green">
                                                <path fill="currentColor" d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"></path>
                                            </svg>
                                            1 48.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-danger"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" class="svg-inline--fa fa-caret-up " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="green">
                                                <path fill="currentColor" d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"></path>
                                            </svg>
                                            1 48.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 246.6l-127.1 128C176.4 380.9 168.2 384 160 384s-16.38-3.125-22.63-9.375l-127.1-128C.2244 237.5-2.516 223.7 2.438 211.8S19.07 192 32 192h255.1c12.94 0 24.62 7.781 29.58 19.75S319.8 237.5 310.6 246.6z"></path>
                                            </svg>
                                            148.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" class="svg-inline--fa fa-caret-up " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="green">
                                                <path fill="currentColor" d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"></path>
                                            </svg>
                                            148.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" class="svg-inline--fa fa-caret-up " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="green">
                                                <path fill="currentColor" d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"></path>
                                            </svg>
                                            148.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" class="svg-inline--fa fa-caret-up " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="green">
                                                <path fill="currentColor" d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"></path>
                                            </svg>
                                            148.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" class="svg-inline--fa fa-caret-up " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="green">
                                                <path fill="currentColor" d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"></path>
                                            </svg>
                                            148.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                    <tr class="">
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">NIFTY 31MAR2022</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border  bg-primary"><a class="no-dec color-white" href="/trade/detail-graph">17,518.00</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">0.96</a></td>
                                        <td class="td-border ">
                                        <a class="no-dec text-dark" href="/trade/detail-graph">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-up" class="svg-inline--fa fa-caret-up " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="green">
                                                <path fill="currentColor" d="M9.39 265.4l127.1-128C143.6 131.1 151.8 128 160 128s16.38 3.125 22.63 9.375l127.1 128c9.156 9.156 11.9 22.91 6.943 34.88S300.9 320 287.1 320H32.01c-12.94 0-24.62-7.781-29.58-19.75S.2333 274.5 9.39 265.4z"></path>
                                            </svg>
                                            148.95
                                        </a>
                                        </td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,533.50</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,436.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,501.05</a></td>
                                        <td class="td-border "><a class="no-dec text-dark" href="/trade/detail-graph">17,368.05</a></td>
                                        <td class="td-border ">
                                        <button type="button" class="btn  mx-3 my-0 py-0 the-button">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" class="svg-inline--fa fa-xmark fa-1x cross-size" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" color="red">
                                                <path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path>
                                            </svg>
                                        </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="react-reveal fw-bold my-2">Sharing 0 to of 0 entries</div>
                    </div>
{% endblock content %}