{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        <div class="react-reveal w-100 bg-dark text-center color-white fs-2 py-3 mb-3" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-803367771460983-2;">
                            <button class="btn btn-light  px-4 focus-none">Back</button>
                            <p class="mt-3">Detail Graph world</p>
                        </div>
                        <div class="react-reveal" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-803367771460983-2;">
                            <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                    <div class="ReactChart " style="width: 471.5px; height: 300px; position: relative;">
                                        <!-- TradingView Widget BEGIN -->
                                    <div class="tradingview-widget-container">
                                        <div id="tradingview_ba350"></div>
                                        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                        <script type="text/javascript">
                                        new TradingView.MediumWidget(
                                        {
                                        "symbols": [
                                        [
                                        "BTCUSD",
                                        "BITSTAMP:BTCUSD|1D"
                                        ],
                                        [
                                        "ETHUSD",
                                        "BINANCE:ETHUSD|1D"
                                        ],
                                        [
                                        "Apple",
                                        "NASDAQ:AAPL|1D"
                                        ],
                                        [
                                        "Google",
                                        "NASDAQ:GOOGL|1D"
                                        ]
                                        ],
                                        "chartOnly": false,
                                        "width": 597.383,
                                        "height": 600,
                                        "locale": "en",
                                        "colorTheme": "light",
                                        "isTransparent": true,
                                        "autosize": false,
                                        "showVolume": false,
                                        "hideDateRanges": false,
                                        "scalePosition": "right",
                                        "scaleMode": "Normal",
                                        "fontFamily": "-apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif",
                                        "noTimeScale": false,
                                        "valuesTracking": "1",
                                        "chartType": "line",
                                        "fontColor": "#000",
                                        "gridLineColor": "rgba(5, 2, 17,0.2)",
                                        "color": "#FAB417",
                                        "container_id": "tradingview_ba350"
                                    }
                                        );
                                        </script>
                                    </div>
                                    <!-- TradingView Widget END -->
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}