{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
                <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        <div class="react-reveal container" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-803367771460983-1;">
                            <div class="row my-2">
                            <div class="col-3 col-sm-3 col-md-6 col-lg-4 col-xl-4 fw-bold">TRADE REPORT</div>
                            <div class="col-4 col-sm-3 col-md-1 col-lg-5 col-xl-5"></div>
                            <div class="col-6 col-sm-3 col-md-2 col-lg-1 col-xl-1 text-center">
                                <div class="dropdown bg-transparent">
                                    <a class="btn focus-none" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="/">
                                        <button type="button" class="position-relative border-none bg-transparent">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bell" class="svg-inline--fa fa-bell fa-2x p-0 " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" color="grey">
                                            <path fill="currentColor" d="M256 32V51.2C329 66.03 384 130.6 384 208V226.8C384 273.9 401.3 319.2 432.5 354.4L439.9 362.7C448.3 372.2 450.4 385.6 445.2 397.1C440 408.6 428.6 416 416 416H32C19.4 416 7.971 408.6 2.809 397.1C-2.353 385.6-.2883 372.2 8.084 362.7L15.5 354.4C46.74 319.2 64 273.9 64 226.8V208C64 130.6 118.1 66.03 192 51.2V32C192 14.33 206.3 0 224 0C241.7 0 256 14.33 256 32H256zM224 512C207 512 190.7 505.3 178.7 493.3C166.7 481.3 160 464.1 160 448H288C288 464.1 281.3 481.3 269.3 493.3C257.3 505.3 240.1 512 224 512z"></path>
                                        </svg>
                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">3<span class="visually-hidden">unread messages</span></span>
                                        </button>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="/">Action</a></li>
                                        <li><a class="dropdown-item" href="/">Another action</a></li>
                                        <li><a class="dropdown-item" href="/">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                                <div class="d-flex justify-content-strat">
                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle-user" class="svg-inline--fa fa-circle-user fa-2x mt-1" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path fill="currentColor" d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 128c39.77 0 72 32.24 72 72S295.8 272 256 272c-39.76 0-72-32.24-72-72S216.2 128 256 128zM256 448c-52.93 0-100.9-21.53-135.7-56.29C136.5 349.9 176.5 320 224 320h64c47.54 0 87.54 29.88 103.7 71.71C356.9 426.5 308.9 448 256 448z"></path>
                                    </svg>
                                    <div class="dropdown ms-1 bg-transparent">
                                        <a class="btn fw-bold focus-none" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" href="/">
                                            {{current_user.username}}
                                        <span class="ps-2">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-down" class="svg-inline--fa fa-angle-down fw-bold" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                                                <path fill="currentColor" d="M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z"></path>
                                            </svg>
                                        </span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="/">Action</a></li>
                                        <li><a class="dropdown-item" href="/">Another action</a></li>
                                        <li><a class="dropdown-item" href="/">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="react-reveal container" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-803367771460983-1;">
                            <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3">
                                <div class="container-fluid ps-0">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 ">
                                        <div class="input-group"><label class="input-group-text bg-transparent border-none" for="inputGroupSelect01">Recent Type</label></div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                                                    <div class="form-check my-1"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault" id="flexRadioDefault1"><label class="form-check-label" for="flexRadioDefault1">Bill Summary</label></div>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                                                    <div class="form-check my-1"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault" id="flexRadioDefault1"><label class="form-check-label" for="flexRadioDefault1">Hodiyu</label></div>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                                                    <div class="form-check my-1"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault" id="flexRadioDefault1"><label class="form-check-label" for="flexRadioDefault1">Brokerage</label></div>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                                    <div class="form-check my-1"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault" id="flexRadioDefault1"><label class="form-check-label" for="flexRadioDefault1">Position</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 my-2">
                                <div class="input-group">
                                    <label class="input-group-text bg-transparent border-none" for="inputGroupSelect01">Reports</label>
                                    <select class="form-select input-border focus-none" id="inputGroupSelect01">
                                        <option class="">Summary Bill (T Format)</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 my-2">
                                <div class="input-group">
                                    <label class="input-group-text bg-transparent border-none" for="inputGroupSelect01">Valan</label>
                                    <select class="form-select input-border focus-none" id="inputGroupSelect01">
                                        <option class="">APROI NSE</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <div class="form-check my-1 float-end"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault01" id="flexRadioDefault1"><label class="form-check-label" for="flexRadioDefault1">Customer</label></div>
                            </div>
                            <div class="col-6 my-2">
                                <div class="form-check my-1"><input class="form-check-input" type="radio" name="flexRadioDefault01" id="flexRadioDefault1"><label class="form-check-label focus-none" for="flexRadioDefault1">Self</label></div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="input-group"><span class="input-group-text bg-transparent border-none" id="basic-addon1">Customer *</span><input type="text" class="form-control input-border focus-none" placeholder="Select Client" aria-label="Username" aria-describedby="basic-addon1"></div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="input-group"><span class="input-group-text bg-transparent border-none" id="basic-addon1">Master *</span><input type="text" class="form-control input-border focus-none" placeholder="Select Master" aria-label="Username" aria-describedby="basic-addon1"></div>
                            </div>
                            <div class="col-12 my-3">
                                <div class="input-group"><span class="input-group-text bg-transparent border-none" id="basic-addon1">Script *</span><input type="text" class="form-control input-border focus-none" placeholder="Select Name" aria-label="Username" aria-describedby="basic-addon1"></div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                                        <div class="input-group"><label class="input-group-text bg-transparent border-none" for="inputGroupSelect01">Without Bokerage</label></div>
                                    </div>
                                    <div class="col-6 col-sm-8 col-md-8 col-lg-10 col-xl-10">
                                        <div class="container">
                                        <div class="row">
                                            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                                                <div class="form-check my-1"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault0000" id="flexRadioDefault1"></div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 my-2">
                                <div class="input-group">
                                    <label class="input-group-text bg-transparent border-none" for="inputGroupSelect01">Segment</label>
                                    <select class="form-select input-border focus-none" id="inputGroupSelect01">
                                        <option class="">Segment</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3">
                                <div class="container-fluid ps-0">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-2 ">
                                        <div class="input-group"><label class="input-group-text bg-transparent border-none" for="inputGroupSelect01">Data Filter</label></div>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                                                    <div class="form-check my-1"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault99" id="flexRadioDefault1"><label class="form-check-label" for="flexRadioDefault1">All Date</label></div>
                                                </div>
                                                <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                                                    <div class="form-check my-1"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault99" id="flexRadioDefault1"><label class="form-check-label" for="flexRadioDefault1">Data Wise</label></div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 my-2">
                                <div class="input-group">
                                    <label class="input-group-text bg-transparent border-none" for="inputGroupSelect01">Broker</label>
                                    <select class="form-select input-border focus-none" id="inputGroupSelect01">
                                        <option class="">Select Broker</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2">
                                        <div class="input-group"><label class="input-group-text bg-transparent border-none" for="inputGroupSelect01">Expiry Date</label></div>
                                    </div>
                                    <div class="col-8 col-sm-8 col-md-8 col-lg-10 col-xl-10">
                                        <div class="container">
                                        <div class="row">
                                            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                                                <div class="form-check my-1"><input class="form-check-input focus-none" type="radio" name="flexRadioDefault789" id="flexRadioDefault1"></div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-end my-2"><button type="button" class="btn bg-brown mx-4 color-white btn-lg focus-none button-effect my-1">View Report</button></div>
                            </div>
                        </div>
                </div>
{% endblock content %}