{% extends 'base.html' %}
{% block title %}Create User{% endblock %}
{% block content %}
                    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
                        <div class="react-reveal container" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-611187756473574-1;">
                            <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                        <p class="m-2">BROKER</p>
                                        <select class="form-select bg-orange color-white height-button focus-none myClass" aria-label="Default select example">
                                            <option class="bg-light text-dark ps-3" value="1">Select Broker</option>
                                            <option class="bg-light text-dark ps-3" value="2">One</option>
                                            <option class="bg-light text-dark ps-3" value="3">Two</option>
                                            <option class="bg-light text-dark ps-3" value="3">Three</option>
                                        </select>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                        <p class="m-2">STATUS</p>
                                        <select class="form-select bg-orange color-white height-button focus-none myClass" aria-label="Default select example">
                                            <option class="bg-light text-dark ps-3" value="1">Select Status</option>
                                            <option class="bg-light text-dark ps-3" value="2">One</option>
                                            <option class="bg-light text-dark ps-3" value="3">Two</option>
                                            <option class="bg-light text-dark ps-3" value="3">Three</option>
                                        </select>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                        <p class="m-2">PARANTS</p>
                                        <select class="form-select bg-orange color-white height-button focus-none myClass" aria-label="Default select example">
                                            <option class="bg-light text-dark ps-3" value="1">Select Parants</option>
                                            <option class="bg-light text-dark ps-3" value="2">One</option>
                                            <option class="bg-light text-dark ps-3" value="3">Two</option>
                                            <option class="bg-light text-dark ps-3" value="3">Three</option>
                                        </select>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 ">
                                        <p class="m-2">TYPE</p>
                                        <select class="form-select bg-orange color-white height-button focus-none myClass" aria-label="Default select example">
                                            <option class="bg-light text-dark ps-3" value="1">Select Type</option>
                                            <option class="bg-light text-dark ps-3" value="2">One</option>
                                            <option class="bg-light text-dark ps-3" value="3">Two</option>
                                            <option class="bg-light text-dark ps-3" value="3">Three</option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 text-center"><button type="button" class="btn bg-brown color-white mt-5 focus-none">Submit</button></div>
                            </div>
                        </div>
                        <div class="react-reveal container-fluid" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-611187756473574-1;">
                            <div class="row my-5">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
                                <div class="input-group shadow-sm ">
                                    <span class="input-group-text focus-none bg-transparent border-right-none" id="basic-addon1">
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" class="svg-inline--fa fa-magnifying-glass hover-search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" color="#fab417">
                                        <path fill="currentColor" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path>
                                        </svg>
                                    </span>
                                    <input type="text" class="form-control focus-none border-left-none" onkeydown="filter()" id="search" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 text-center"><a href="/user/adduser/"><button type="button"class="btn bg-primary color-white w-100 my-2 my-sm-2 my-md-2 my-lg-0 my-xl-0 focus-none">+Add Account</button></a></div>
                            </div>
                        </div>
                        <div class="react-reveal" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-611187756473574-1;">
                            SHOW
                            <span>
                            <select class="form-select bg-orange color-white focus-none width-entry d-inline mx-2" aria-label="Default select example">
                                <option class="bg-light text-dark ps-3" value="10">10</option>
                                <option class="bg-light text-dark ps-3" value="20">20</option>
                                <option class="bg-light text-dark ps-3" value="30">30</option>
                                <option class="bg-light text-dark ps-3" value="40">40</option>
                            </select>
                            </span>
                            ENTRIES
                        </div>
                        <div class="react-reveal" style="animation-fill-mode: both; animation-duration: 1000ms; animation-delay: 0ms; animation-iteration-count: 1; opacity: 1; animation-name: react-reveal-611187756473574-1;">
                            <div class="table-responsive ">
                            <table class="table my-5 table-borderless">
                                <thead>
                                    <tr class="table-border-none">
                                        <th scope="col" class="bg-light ">Username</th>
                                        <th scope="col" class="bg-light ">Account Code</th>
                                        <th scope="col" class="bg-light ">Account Name</th>
                                        <th scope="col" class="bg-light ">Account Type</th>
                                        <th scope="col" class="bg-light ">Card Type</th>
                                        <th scope="col" class="bg-light ">Card Number</th>
                                        <th scope="col" class="bg-light ">Partnership</th>
                                        <th scope="col" class="bg-light ">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody  id="table">
                                    {% for user in user_list %}
                                    <tr class="">
                                        <td class="td-border ">{{ user.user.username }}</td>
                                        <td class="td-border ">{{ user.Account_Code }}</td>
                                        <td class="td-border ">{{ user.Account_Name }}</td>
                                        <td class="td-border ">{{ user.Account_Type }}</td>
                                        <td class="td-border ">{{ user.Card_Type }}</td>
                                        <td class="td-border ">{{ user.Card_Number }}</td>
                                        <td class="td-border ">{{ user.Partnership }}</td>
                                        <td class="td-border ">{{ user.Remarks }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <script>
            function filter() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("search");
                filter = input.value.toUpperCase();
                table = document.getElementById("table");
                tr = table.getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    console.log(td);
                    if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    }       
                }
            }
        </script>
{% endblock content %}