<!DOCTYPE html>
<html>
    <head>
        <title>WebSockets</title>
    </head>
    <body>
        <h5 id="app"></h5>
        <button onclick="updater()">Update</button>
        <script>
            let queryString = '';
            {% for stock in stocks %}
            queryString += 'stock='+'{{ stock }}'+'&';
            {% endfor %}
            var socket = new WebSocket('ws://'+window.location.host+'/ws/stock/trade/?'+queryString);
            console.log(queryString);
            socket.onmessage = function(event) {
                const data = JSON.parse(event.data);
                console.log(data);
            };
        </script>
    </body>
</html>